@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
	<div class="row">
		@for (var animalNumber = 0; animalNumber < _shuffledAnimals.Count; animalNumber++)
		{
			var animal = _shuffledAnimals[animalNumber];
			var uniqueDescription = $"Przycisk numer {animalNumber}";
			<div class="col-3">
				<button @onclick="@(() => ButtonClick(animal, uniqueDescription))"
						type="button" 
						class="btn btn-outline-dark">
					<h1>@animal</h1>
				</button>
			</div>
		}
	</div>
	<div class="row">
		<h2>Znalezione pary: @_matchesFound</h2>
	</div>
	<div class="row">
		<h2>Czas: @_timeDisplay</h2>
	</div>
</div>