@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
	<div class="row">
		<div class="col-5">
			<div class="row">
				<label for="deck1" accesskey="p">
					<strong>Talia <span style="text-decoration: underline">p</span>ierwsza</strong>
				</label>
				<select @bind="_twoDecks.LeftCardSelected"
						@onkeypress="LeftKeyHandler" 
						@ondblclick="LeftDblClickHandler"
						class="custom-select" 
						size="10" 
						id="deck1">
					@for (int i = 0; i < _twoDecks.LeftDeckCount; i++)
					{
						<option value="@i">@_twoDecks.LeftDeckCardName(i)</option>
					}
				</select>
			</div>

			<div class="row">
				<button class="btn btn-primary col mt-2" accesskey="t" @onclick="_twoDecks.Shuffle">
					<span style="text-decoration: underline">T</span>asuj
				</button>
			</div>

			<div class="row">
				<button class="btn btn-primary col mt-2" accesskey="r" @onclick="_twoDecks.Reset">
					<span style="text-decoration: underline">R</span>esetuj
				</button>
			</div>
		</div>

		<div class="col-1" />

		<div class="col-5">
			<div class="row">
				<label for="deck2" accesskey="d">
					<strong>Talia <span style="text-decoration: underline">d</span>ruga</strong>
				</label>
				<select @bind="_twoDecks.RightCardSelected"
						@onkeypress="RightKeyHandler" 
						@ondblclick="RightDblClickHandler"
						class="custom-select" 
						size="10" 
						id="deck2">
					@for (int i = 0; i < _twoDecks.RightDeckCount; i++)
					{
						<option value="@i">@_twoDecks.RightDeckCardName(i)</option>
					}
				</select>
			</div>

			<div class="row">
				<button class="btn btn-primary col mt-2" accesskey="z" @onclick="_twoDecks.Clear">
					<span style="text-decoration: underline">Z</span>eruj
				</button>
			</div>

			<div class="row">
				<button class="btn btn-primary col mt-2" accesskey="s" @onclick="_twoDecks.Sort">
					<span style="text-decoration: underline">S</span>ortuj
				</button>
			</div>
		</div>
	</div>
</div>