@page "/"

<PageTitle>Home</PageTitle>

<div class="container">

	<div class="row">
		<h1>Eksperymenty z kontrolkami</h1>
	</div>

	<div class="row mt-2">
		<div class="col-sm-6">
			Wpisz liczbę:
		</div>
		<div class="col-sm-6">
			<input type="text" placeholder="Wpisz tekst" @onchange="UpdateNumericValue" />
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-sm-6">
			Wybierz liczbę:
		</div>
		<div class="col-sm-6">
			<input type="range" @onchange="UpdateValue" />
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-sm-6">Kliknij przycisk:</div>
		<div class="col-sm-6 btn-group" role="group">
			@for (var buttonNumber = 1; buttonNumber <= 6; buttonNumber++)
			{
				string valueToDisplay = $"Przycisk numer {buttonNumber}";
				<button type="button" class="btn btn-secondary"
						@onclick="() => ButtonClick(valueToDisplay)">
					@buttonNumber
				</button>
			}
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-sm-6">Wybierz datę:</div>
		<div class="col-sm-6">
			<input type="date" @onchange="UpdateValue" />
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-sm-6">Wybierz kolor:</div>
		<div class="col-sm-6">
			<input type="color" @onchange="UpdateValue" />
		</div>
	</div>

	<div class="row mt-5">
		<h2>
			Oto wartość: <strong>@_displayValue</strong>
		</h2>
	</div>
</div>